[CLI]
# The 24fps Lock
frame_rate = 24

# The 1080p Base Resolution (Upscaled later in Premiere)
pixel_width = 1920
pixel_height = 1080

# The tracr Default Background (Deep void black)
background_color = #080C12
[CLI]
# The 24fps Lock
frame_rate = 24

# The 1080p Base Resolution (Upscaled later in Premiere)
pixel_width = 1920
pixel_height = 1080

# The 420p Base Resolution (Upscaled later in Premiere)
#pixel_width = 854
#pixel_height = 480

# The tracr Default Background (Deep void black)
background_color = #080C12

